a,
a img {
  -moz-box-sizing: unset;
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

hr {
  border: none;
  height: 2px;
  background-color: #696969;
  margin: 20px 0; /* Add some space above and below the line */
  width: 80%; /* Set the width of the line */
}

.responsive-cell-block {
  min-height: 75px;
  background-color: rgba(126, 124, 124, 0.1);
  border-radius: 3.5em;
}

h1 {
  text-align: center;
}

.subheader {
  text-align: center;
  width: 85%;
  margin: 0;
}

.structure {
  text-align: center;
}

.up-in-out {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .75em;
}

.uio-column {
  flex-basis: 30%;
  text-align: center;
  background-color: rgba(126, 124, 124, 0.1);
  border-radius: 1.5em;
  padding: 0.5em;
}

p span {
  font-weight: bold;
  color: rgb(3, 128, 167);
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
  margin: auto 0px;
  justify-content: space-evenly;
}

.cycle > *:nth-child(odd) {
  margin-right: auto;
}

.cycle > *:nth-child(even) {
  margin-left: auto;
}

.outer-container {
  padding: 3rem;
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.img-wrapper {
  max-width: 280px;
  margin-bottom: 1rem;
}

.team-card {
  display: flex;
  flex-direction: row;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.card-main {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: .5em;
}

.position {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(3, 128, 167);
  margin: 0;
}

.team-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  border: .25rem solid #FFFFFF;
}

.team-card-container {
  width: 280px;
}

.about-blurb {
  flex: 1;
  text-align: justify;
  margin: 0;
}

.container {
  padding: 1rem;
}

@media (max-width: 1024px) {
  .team-card {
    flex-direction: column;
  }

  .subheader {
    width: 95%
  }

  hr {
    width: 90%;
  }

  .uio-column {
    flex-basis: 100%;
  }

  .cycle {
    column-gap: unset;
  }

  .cycle > *:nth-child(odd) {
    margin-right: unset;
  }

  .cycle > *:nth-child(even) {
    margin-left: unset;
  }
}